@media screen and (min-width: 375px) {
body{
    position: absolute;
    background-image: url('bg-main-mobile.png');
    background-position: top left;
    overflow-x: hidden;;
}
#right-nav{
    display:none;
}
#nav > img{
    width:147px;
}
#nav{
    margin-top:25px;
    margin-left:20px;
}
#main-text > h1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    color: #191826;
    margin-left:20px;
}
#main-text > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;   
    color: #191826;
    margin-left:20px;
    padding-right:10px;
}
#black-box{
    margin:-7px;
    width:375px;
    background: #191826;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    margin-top:170px;
}
#mobile > img{
    width: 230px;
    position: relative;
    bottom: 556px;
    right: -65px;
}
#orange-box{
    background: #FA7453;
    border-radius: 12px;
    position: relative;
    bottom:520px;
    margin:-7px;
}
#orange-box > h1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FCFAF9;
    padding-top:48px;
    padding-left:30px;
}
#orange-box > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9; 
    padding: 0px 30px 0px 30px;
}
#orange-box > h2{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
    padding-left:30px;
}
#orange-box > #month{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
    position:relative;
    bottom: 96px;
    left: 93px;
}
#orange-box > #apple-box{
    background: #191826;
    border-radius: 12px;
    width:296px;
    display:flex;
    justify-content: center;
    position:relative;
    left: 40px;
    bottom: 80px;
}
#orange-box > #apple-box > img {
    height: 25px;
    position: relative;
    top:18px;
    right:6px;
}
#orange-box > #apple-box > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}
#orange-box > #android-box{
    width:296px;
    background: #FCFAF9;
    border-radius: 12px;
    display:flex;
    justify-content: center;
    position:relative;
    bottom:60px;
    left:40px;
}
#orange-box > #android-box > img{
    height:25px;
    position:relative;
    top:20px;
    right:10px;
}
#orange-box > #android-box > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826; 
}
#end {
    position:absolute;
    bottom:300px;
    padding: 0px 24px;
}
#end > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}
#end > h3{
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 26px;
    position:absolute;
    right:151px;
    bottom:-28px;
}
#icons > *{
    padding:10px;
}
#icons{
    margin-left:16px;
    position:absolute;
    bottom:150px
}
}
@media screen and (min-width: 768px) {
body{
    background-image:url('bg-main-tablet.png');
    background-position: top;
}
#nav > img{
    margin-top:45px;
}
#main-text{
    padding-top:50px;
}
#main-text > h1{
    width:500px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.727273px;
    color: #191826;
}
#main-text > p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #191826;
    width:515px;
}
#right-nav{
    display:block;
    position:absolute;
    right: -61px;
    top: -50px;
}
#black-box{
    width:696px;
    height:600px;
    margin-left:33px;
    margin-top:250px;
}
#black-box > img{
    width: 312px;
    height: 468px;
}
#mobile > img{
    width:270px;
}
#mobile{
    position:relative;
    left: 5px;
    bottom: 150px;
}
#orange-box{
    width:399px;
    position:relative;
    left: 251px;
    bottom: 968px;
}
#end{
    width:296px;
    /* margin-bottom: 350px; */
    position:absolute;
    bottom:500px;
}
#end > h3{
    position:relative;
    bottom: 41px;
    left:150px;
}
#icons{
position:absolute;
bottom:587px;
right:20px;
}
}
@media screen and (min-width: 1440px) {
body{
    background-image:url('bg-main-desktop.png');
    padding-left:165px;
}
#right-nav > img{
    position: absolute;
    right: -170px;
}
#main-text > h1{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
    width:1015px;
}
#main-text > p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
    width:825px;
}
#black-box{
    width:1110px;
}
#mobile{
    width:280px;
    position:relative;
    left:174px;
}
#orange-box{
    position: absolute;
    left: 832px;
    bottom: 350px;
}
#orange-box > #apple-box:hover{
    background-color:#66E2DC;
    cursor: pointer;
}
#orange-box > #android-box:hover{
    background-color:#FFB964;
    cursor:pointer;
}
#end{
    position:absolute;
    bottom:0px;
}
#icons{
    position:absolute;
    bottom:80px;
}
}